/* src/AfterMatchStats.module.css */

.after-match-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: fit-content;
  margin: 0 auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0; 
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.info-header {
  text-align: center;
  margin-bottom: 10px;
  
    border-radius: 8px;
    padding: 10px;
    display: flex   ;
    gap: 45px;
    background-color: #34495e;
}

.competition-logo {
  margin-top: 5px;
}

.competition-logo-img {
  height: 24px;
}

.competition {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ecf0f1;
}

.category {
  font-size: 1rem;
  font-weight: normal;
  color: #bdc3c7;
}

.after-match-table {
  border-collapse: collapse;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: fit-content;
}

.header-cell {
  padding: 10px 15px;
  text-align: center;
  border-right: 1px solid #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.winner {
    background-color: #f1c40f;
    color: #3b4d61;
}

.empty-cell {
  min-width: 250px;
  background-color: #34495e;
      color: #e74c3c;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* .team-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #3498db;
} */
 .logo-container {
  position: relative; /* Needed for positioning the pseudo-element */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; 
}

.team-logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fits within the circle */
  border-radius: 50%;
  /* border: 3px solid #3498db; */
}

/* Glossy animation effect */
.winner > .logo-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%; /* Start the sweep off-screen to the left */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg); /* Angle the sweep */
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% { left: -200%; }
  100% { left: 200%; } /* End the sweep off-screen to the right */
}


.team-name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.final-score {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ecf0f1;
  margin-top: 5px;
}
.final-score > .winner {
    color: #f1c40f;
    background-color: #34495e;
}

.set-scores {
  margin-top: 15px;
  font-size: 1rem;
  color: #bdc3c7;
}

.stat-value {
  padding: 8px 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.stat-label {
  padding: 8px 15px;
  background-color: #34495e;
  font-size: 0.9rem;
  text-align: center;
  color: #bdc3c7;
  text-transform: uppercase; /* Uppercase stat labels */
}

.after-match-table tbody tr:nth-child(odd) .stat-value {
  background-color: #5d6d7e;
}

.after-match-table tbody tr:nth-child(even) .stat-value {
  background-color: #3b4d61;
}
