/* src/MatchupPresentation.module.css */

.matchup-wrapper {
  z-index: 100;
}

.matchup-wrapper.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.matchup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
}

.details-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-info {
  display: flex;
  align-items: center; /* Set align-items back to 'center' */
  justify-content: center;
  gap: 15px;
  margin-bottom: 5px;
}

.competition-logo {
  height: 40px;
  width: auto;
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.competition {
  font-size: 2.2rem;
  font-weight: bold;
  color: #ecf0f1;
  text-transform: uppercase;
  line-height: 1; /* Ensures single-line text and aligns correctly */
}
.category {
  font-size: 1.4rem; /* New category styling */
  font-weight: 500;
  color: #bdc3c7;
  margin-top: -5px;
}

.location {
  font-size: 1.2rem; /* Slightly bigger font size */
  font-weight: 300;
  color: #bdc3c7;
  text-transform: uppercase; /* Capitalize location name */
  margin-top: 10px;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
  width: 300px;
}

.team-logo {
  width: 200px; /* Bigger logos */
  height: 200px; /* Bigger logos */ 
  border-radius: 50%;
  border: 3px solid #3498db;
}

.team-name {
  font-size: 1.5rem; /* Smaller team names */
  font-weight: bold;
  text-transform: uppercase;
}

.vs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.vs {
  font-size: 5rem;
  font-weight: bold;
  color: #3498db;
  line-height: 200px;
}
