/* src/Scoreboard.module.css */

/* Add a wrapper for the scoreboard and dropline */
.scoreboard-wrapper {
  position: relative; /* This is crucial for positioning the panel */
  width: fit-content;
  margin: 20px auto;
}

.scoreboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;
  margin: 20px auto;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 20px;
}

/* Container for name, indicator, and timeouts */
.name-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
}

/* Wrapper for the name and indicator */
.name-and-indicator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.team-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #3498db;
}

.team-name {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.match-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}

.team-score {
  font-size: 1.8rem;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}

.sets-score {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f1c40f;
  text-transform: uppercase;
}

/* Serving indicator styles */
.serving-indicator {
  width: 0;
  height: 0;
}

.serving-indicator.left {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 15px solid #2ecc71;
}

.serving-indicator.right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 15px solid #2ecc71;
}

/* Timeouts container */
.timeouts-container {
  display: flex;
  gap: 3px;
  margin-top: 4px; /* Adjust spacing from team name */
}

.timeout-indicator {
  width: 6px;
  height: 6px;
  background-color: #5d6d7e;
  border-radius: 50%;
  border: 1px solid #bdc3c7;
}

.timeout-indicator.used {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

/* Styling for team B's text alignment */
.team-info:last-child .name-details {
  align-items: flex-end; /* Aligns content to the right */
}
