.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.panel {
  text-align: center;
  padding: 20px;
  background-color: rgb(0 60 121 / 50%);
  border-radius: 8px;
  width: 900px;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 15%;
  z-index: 90;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: #ecf0f1;
}

.imageContainer {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
