/* src/TeamComparisonTable.module.css */

.comparison-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: fit-content;
  margin: 0 auto;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0; 
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


.comparison-table {
  border-collapse: collapse;
  background-color: #34495e;
  color: #ecf0f1;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: fit-content;
}

.header-cell {
  padding: 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

.empty-cell {
  min-width: 250px;
  background-color: #34495e;
}

.team-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #3498db;
}

.team-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f1c40f;
}

.vs {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #3498db 40%, #2ecc71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.stat-value {
  padding: 8px 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.stat-label {
  padding: 8px 15px;
  background-color: #34495e;
  font-size: 0.9rem;
  text-align: center;
  color: #bdc3c7;
  text-transform: uppercase;
}

.comparison-table tbody tr:nth-child(odd) .stat-value {
  background-color: #5d6d7e;
}

.comparison-table tbody tr:nth-child(even) .stat-value {
  background-color: #3b4d61;
}
